#login-image-bg {
  background-color: #5858f1;
  margin: 0.1rem;
  border-radius: 5px;
  height: 740px;
  position: relative;

  img {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 400px;
    height: 400px;
  }

  div {
    width: 400px;
    border-radius: 50%;
    background-color: white;
    height: 400px;
    position: absolute;
    left: 20%;
    top: 20%;
  }

}


#login {
  text-align: center;

}

#form {
  position: absolute;
  top: 30%;
  left: 30%;

  button {
    width: 100%;
    margin-top: 1rem;
  }
  div {
    margin-top: 1rem;
  }


  p {
    display: inline-block;
    padding: 0;
    color: blue;
    cursor: pointer;
    margin-top: 1rem;

  }

}

#image-registry {
  width: 100%;
  height: 730px;
  position: relative;
  filter: blur(5px)
}
i {
  font-size: 1.5rem;
  display: flex;
}
