@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('~src/assets/IRANSansWeb(FaNum)-Pack/fonts/woff/IRANSansWeb(FaNum)_Medium.woff');
}
*{
  font-family: IRANSans, serif;
}


